:root {
  --main-heading-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-heading-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-color: #ff0070;
  --accent-color-big: #ff0070;
  --accent-color-background: #000028;
  --main-heading-color: #db00ff;
  --text-color: #f1b2ce;
  --button-hover-color: #ff007040;
  --bracket-color: #ff0070;
  --menu-color: #ff0070;
  --rec-icon-color: #ff0070;
  --title-decor-color: #000028;
  --title-color: #ff0070;
  --cover-image: url(../images/cover-image.png);
  --main-font: 'IBM Plex mono';
  --rec-icon-visibility: visible;
}